{% extends 'base.html' %}

{% block body %}
    <h2 class="add-exercise-heading">Workin' it, log it here!</h2> 
    <br>
      <form class="add-exercise" method="POST">
        <label for="exercise-name-field">Exercise</label>
            <input type="text" 
                   name="exercise_name" 
                   placeholder="Exercise Please"
                   required
                   autofocus>
        <label for="exercise-num-rep">Number of Reps</label>
            <input type="number"
                   name="reps"
                   min="0"
                   max="1000">
        <label for="exercise-weight-field">Weight</label>
            <input type="number"
                   name="weight"
                   min="0"
                   max="10000"
                   autofocus>
        <button class="btn btn-lg btn-primary btn-block" 
                type="submit">Log Exercise!</button>
    </form>

{% endblock %}
